<p>{{datoServicio}}</p>

<p>Pelicula favorita:</p>

<button (click)="showHide(true)" [class.showingData]="mostrarDatos === true">Mostrar datos</button>
<button (click)="showHide(false)" [class.showingData]="mostrarDatos === false">Ocultar datos</button>
<ul *ngIf="mostrarDatos === true">
    <li>Titulo de la pelicula: {{pelicula.titulo}}</li>
    <li>Director: {{pelicula.director}}</li>
    <li>Año: {{pelicula.anio}}</li>
</ul>
<p>
    Cambiar titulo:
    <input type="text" (keypress)="onLog()" [(ngModel)]="pelicula.titulo"/>
</p>

<hr/>

<p>Listado de peliculas:</p>
<ul>
    <ul *ngFor="let pelicula of peliculas" style="margin-bottom: 20px">
        <li (click)="onCambiarPelicula(pelicula)" class="pelicula-title" [class.clicked]="peliculaElegida.titulo === pelicula.titulo">Titulo de la pelicula: {{pelicula.titulo}}</li>
        <li>Director: {{pelicula.director}}</li>
        <li *ngIf="pelicula.anio" >Año: {{pelicula.anio}}</li>
    </ul>
</ul>