<h1>{{titulo}}</h1>

<nav>
    <ul>
        <li><a [routerLink]="['Peliculas']">Inicio</a></li>
        <li><a [routerLink]="['CrearPelicula']">Añadir Pelicula</a></li>
        <li><a [routerLink]="['Contacto']">contacto</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>
<peliculas-footer></peliculas-footer>


