h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
}

.showingData{
    display: none;
}

.pelicula-title{
    cursor: pointer;
}

.pelicula-title:hover{
    text-decoration: underline;
}

.clicked{
    font-size: 20px;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}